## Deliverable 2. Create a Customer Travel Destinations Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [15]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.12,-134.97,71.64,85,54,19.82,broken clouds
1,1,Xining,CN,36.62,101.77,36.36,59,0,1.12,clear sky
2,2,Isangel,VU,-19.55,169.27,77.00,81,9,4.09,clear sky
3,3,Alice Springs,AU,-23.70,133.88,69.80,14,90,5.82,overcast clouds
4,4,Hasaki,JP,35.73,140.83,51.80,100,75,1.12,broken clouds

In [16]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

In [18]:
# 4a. Determine if there are any empty rows. 
preferred_cities_df.count()

City_ID                219
City                   219
Country                218
Lat                    219
Lng                    219
Max Temp               219
Humidity               219
Cloudiness             219
Wind Speed             219
Current Description    219
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()


clean_df.count()

City_ID                218
City                   218
Country                218
Lat                    218
Lng                    218
Max Temp               218
Humidity               218
Cloudiness             218
Wind Speed             218
Current Description    218
dtype: int64

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Isangel,VU,77.00,clear sky,-19.55,169.27,
16,Tres Palos,MX,82.40,scattered clouds,18.18,-101.62,
22,Ko Samui,TH,82.69,clear sky,9.54,99.94,
24,Jesup,US,77.00,clear sky,31.61,-81.89,
39,Georgetown,MY,80.60,light rain,5.41,100.34,
41,Toamasina,MG,77.00,shower rain,-18.17,49.38,
45,Acapulco,MX,80.60,scattered clouds,16.86,-99.89,
46,Altar,MX,83.77,overcast clouds,30.70,-111.82,
49,Port Hedland,AU,80.60,clear sky,-20.32,118.57,
53,Noumea,NC,78.01,clear sky,-22.28,166.46,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

 # Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
    # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("hotel not found...skipping.")

    # 6c. Get latitude and longitude from DataFrame

   
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.
hotel not found...skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)

hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Isangel,VU,77.00,clear sky,-19.55,169.27,Volcano Sea View Tree House
22,Ko Samui,TH,82.69,clear sky,9.54,99.94,"The Passage Samui Villas & Resort, Thailand"
24,Jesup,US,77.00,clear sky,31.61,-81.89,Western Motel
39,Georgetown,MY,80.60,light rain,5.41,100.34,Cititel Penang
41,Toamasina,MG,77.00,shower rain,-18.17,49.38,Hotel H1

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))